@import "../../styles/_functions/functions.scss";

.card {
  position: relative;
  width: toRem(280);
  height: toRem(360);
  border-radius: toRem(16);
  &-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: toRem(16);
    object-fit: cover;
    pointer-events: none;
  }
}
