@import "../../styles/_functions/functions.scss";

.nav-list {
  display: flex;
  align-items: center;
  gap: toRem(16);
  background: #1b1a22;
  max-width: toRem(1920);
  width: 100%;
  padding: 0 toRem(16);
  margin: 0 auto;
  height: fit-content;
  overflow-x: auto;
  user-select: none;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &-content {
    display: flex;
    align-items: center;
    gap: toRem(16);
  }
}
