@import "../../styles/_functions/functions.scss";

.banner-slide {
  position: relative;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
  padding: toRem(60) toRem(60) toRem(60) toRem(100);

  @media (max-width: 1440px) {
    padding: toRem(48) toRem(48) toRem(48) toRem(60);
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
  }
  &-info {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: toRem(16);
    gap: toRem(32);
    border-radius: 16px;
    overflow: hidden;

    &-provider {
      @include font-roboto(24, 700, 32);
      color: #fff;
      @media (max-width: 1440px) {
        @include font-roboto(20, 700, 28);
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      gap: toRem(12);
      &-text {
        @include font-roboto(48, 700, 56);
        color: #fff;
        @media (max-width: 1440px) {
          @include font-roboto(32, 700, 40);
        }
      }
    }
    &-desc {
      @include font-roboto(20, 500, 28);
      color: #fff;
      @media (max-width: 1440px) {
        @include font-roboto(16, 500, 24);
      }
    }
    &-link {
      @include font-roboto(16, 700, 24);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: fit-content;
      height: fit-content;
      padding: toRem(16) toRem(32);
      background: var(--color-banner-link);
      border-radius: toRem(16);
      text-decoration: none;
      @media (max-width: 1024px) {
        @include font-roboto(14, 700, 20);
        border-radius: toRem(12);
        padding: toRem(12) toRem(24);
      }
    }
  }
}
