@import "../../../styles/_functions/functions.scss";

.banner-panel {
  width: 100%;
  height: 100%;
  &-main {
    &-options {
      display: flex;
      padding: toRem(16);
      background: #fff;
      align-items: center;
      justify-content: space-between;
      &-title {
        @include font-roboto(24, 700, 32);
        color: #000;
      }
      &-button {
        @include font-roboto(16, 500, 24);
        cursor: pointer;
        width: toRem(100);
        height: fit-content;
        padding: toRem(12);
        &.add {
          background: #15b500;
          border: none;
          border-radius: toRem(8);
        }
      }
    }
    &-table {
      border-collapse: collapse;
      width: 100%;
      &-header {
        &-row {
          &-item {
            @include font-roboto(16, 700, 24);
            padding: toRem(16);
            background-color: rgba($color: #fff, $alpha: 0.8);
            width: toRem(200);
            &:first-child {
              width: toRem(110);
            }
          }
        }
      }
      &-body {
        &-row {
          &:nth-child(n) {
            background-color: #fff;
          }
          &:nth-child(n + 1) {
            background-color: rgba($color: #fff, $alpha: 0.6);
          }
          &-item {
            padding: toRem(16);
            @include font-roboto(16, 700, 24);

            &-actions {
              display: flex;
              gap: toRem(8);
              justify-content: center;
              &-item {
                cursor: pointer;
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                width: toRem(24);
                height: toRem(24);
              }
            }
          }
        }
      }
    }
  }
}

.table-input {
  border: none;
  background: transparent;
  width: 100%;
  font: inherit;
  color: inherit;

  &.readonly {
    cursor: default;
    pointer-events: none;
  }

  &.editable {
    border: 1px solid #3498db;
    border-radius: 4px;
    padding: 4px 8px;
    background: white;
    box-shadow: 0 0 0 1px rgba(52, 152, 219, 0.2);

    &:focus {
      outline: none;
      border-color: #2980b9;
      box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.3);
    }
  }
}
