@import "../styles/_functions/functions.scss";

.admin-page {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.2);
  // gap: toRem(64);
  // @media (max-width: 1600px) {
  //   gap: toRem(48);
  // }
}
