@import "../../styles/_functions/functions.scss";

.card-list {
  display: flex;
  flex-direction: column;
  background: var(--color-card-list-bg);
  padding: toRem(12);
  gap: toRem(24);
  width: 100%;
  max-width: toRem(1920);
  margin: 0 auto;
  box-sizing: border-box;
  @media (max-width: 1440px) {
    gap: toRem(16);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-title {
      @include font-roboto(24, 700, 32);
      display: flex;
      align-items: center;
      gap: toRem(12);
      color: #fff;
    }
    &-navigations {
      display: flex;
      align-items: center;
      gap: toRem(8);
      &-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: toRem(32);
        height: toRem(32);
        padding: toRem(8);
        color: #fff;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.2);
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
      }
    }
  }
  &-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(32);
    @media (max-width: 1600px) {
      gap: toRem(24);
    }
    @media (max-width: 1440px) {
      gap: toRem(16);
    }
  }
}
