@import "/src/app/styles/_functions/functions.scss";

.carousel {
  &-container {
    position: relative;
    width: 100%;
    max-width: toRem(1920);
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    cursor: grab;
    user-select: none;
    touch-action: pan-y;
    height: toRem(600);
    @media (max-width: 1600px) {
      height: toRem(480);
    }
    @media (max-width: 1440px) {
      height: toRem(400);
    }

    &.dragging {
      cursor: grabbing;
    }
    &-slides {
      display: flex;
      width: 100%;
      height: inherit;
      transition: transform 0.5s ease-in-out;

      &-item {
        position: relative;
        min-width: 100%;
        height: inherit;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          object-fit: cover;
          pointer-events: none;
          -webkit-user-drag: none;
        }
      }
    }

    &-button {
      z-index: 10; // Ensure buttons stay above images
      cursor: pointer;
      position: absolute;
      border: none;
      width: toRem(32);
      height: toRem(32);
      border-radius: 50%;
      background: rgba(#fff, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;

      &:hover {
        background: rgba(#fff, 0.9);
      }

      &.prev {
        left: toRem(10);
      }
      &.next {
        right: toRem(10);
      }
    }
  }
}
